<!doctype html>


<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Portfolio Layout</title>
    <link type="text/css" href="./style.css" rel="stylesheet">
    <link type="text/css" href="./welcomestyle.css" rel="stylesheet">
    <link type="text/css" href="./bootstrap.min.css" rel="stylesheet">
    <script defer type="text/javascript" src="./angular.min.js"></script>
    <script defer type="text/javascript" src="./app.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row" ng-controller="ResizeController">
           
            <div ng-show="showSideBar" class="col-sm-2 side-links">
<!--                 <img src="self port.jpg" id="avatar" alt="" height="" width="">
 -->                <h2>Franklin <br><span class="last-name-style">Floresca</span></h2>
                <ul id="nav-links">
                    <li ng-click="expandLeft1()">About</li>
                    <li ng-click="expandRight1()">Skills</li>
                    <li ng-click="expandLeft2()">Projects</li>
                </ul>

                <div>
                    
                </div>

                <div class="bottom-contact">
                    <p ng-click="expandRight2()" id="contact">Contact Me</p>
                </div>

            </div>
            
            <div class="sections">
                <div ng-hide="showSideBar" ng-class="welcome" class="wrapper">
                    <div ng-click="showSideBar = !showSideBar" ></div>
                    <span></span>
                </div>
                <section ng-class="section1">
                    <div ng-class="topLeft"></div>
                    <div ng-class="topRight"></div>
                </section>
                <section ng-class="section2">
                    <div ng-class="botLeft"></div>
                    <div ng-class="botRight"></div>
                </section>
            </div>
        </div>
    </div>

</body>

</html>