<!doctype html>


<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Portfolio Layout</title>
    <link type="text/css" href="./style.css" rel="stylesheet">
    <link type="text/css" href="./welcomestyle.css" rel="stylesheet">
    <link type="text/css" href="./bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="./navStyle.css" rel="stylesheet">
    <script defer type="text/javascript" src="./angular.min.js"></script>
    <script defer type="text/javascript" src="./app.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row" ng-controller="ResizeController">
            <div ng-hide="showSideBar" class="welcome" class="wrapper">
                <div class="welcome-heading">
                    <p id="welcome-name">Franklin Floresca</p>
                    <p id="welcome-portfolio">My only portfolio<span style="font-size: 9px"> is</span>in the world</p>
                </div>
                
                <p id="quote"><em>"The world only exists in your eyes. You can make it as big or as small as you want."</em> ~ F. Scott Fitzgerald</p>
                <div id="earth" ng-click="showSideBar = !showSideBar; reset(); expandLeft1()"></div>
                <span></span>
            </div>
           
            <div ng-show="showSideBar" class="col-sm-2 side-links">
<!--                 <img src="self port.jpg" id="avatar" alt="" height="" width="">
 -->                <h2>Franklin <br><span class="last-name-style">Floresca</span></h2>
                <ul id="nav-links">
                    <li ng-click="expandLeft1()"><img src="aboutme-icone.svg">About Me</li>
                    <li ng-click="expandRight1()"><img src="skill-icon.png" > Skills</li>
                    <li ng-click="expandLeft2()"><img src="projects-icon.png">Projects</li>
                    <li ng-click="expandRight2()"><img src="contactme-icon.png">Contact Me</li>
                </ul>



            </div>
            
            <div ng-show="showSideBar" class="sections col-sm-10">
                <section ng-class="section1">
                    <div ng-class="topLeft"><p ng-show="contactme" class="heading">Contact Me</p></div>
                    <div ng-class="topRight"><p ng-show="projects" class="heading">Projects</p></div>
                </section>
                <section ng-class="section2">
                    <div ng-class="botLeft"><p ng-show="skills" class="heading">Skills</p></div>
                    <div ng-class="botRight"><p ng-show="about" class="heading">About Me</p></div>
                </section>
            </div>
        </div>
    </div>

</body>

</html>