* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    height: 100vh;
}

/* body */

.side-links {
    height: 100vh;
    position: relative;
    background-color: #696464;
}

#nav-links {
    display: block;
    width: 100%;
    max-height: 30px;
    clear: both;
    padding: 0px;
    margin-top: 50px;
}


div h2 {
    color: white;
    padding-left: 20px;
    margin: 0px;
}

.last-name-style {
    float: right;
    padding-right: 15px;
    padding-top: 5px;
}

li {
    margin: auto;
    border: 0px none;
    list-style-type: none;
    text-align: center;
    font-size: 20px;
    color: #666666;
}

.bottom-contact {
    position:absolute;
    bottom: 2vh;
    width: 100%;
}

#contact {
    font-size: 24px;
    margin: auto;
    display:block;
    background-color: #ff8582;
    text-align:center;
    color: #666666;
}


ul li:nth-child(1) {
    background-color: aquamarine;
}

ul li:nth-child(2) {
    background-color: #50edff;
}

ul li:nth-child(3) {
    background-color: #fffb7d;
}

li:hover {
    background-color:#8fdaff;
}

li:hover, #contact:hover {
    cursor: pointer;
}



#contact {
}

#nav-text {
    font-size: 20px;
}


h1 {
    margin: 0px;
}


.anchor {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    z-index: -1;
    top: -40px;
    left: 0;
    visibility: hidden;
}

.sections {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.section1{
    display: flex;
    flex: 1;
    transition: all 1.0s ease-in-out;
}

.section2{
    display: flex;
    flex: 1;
    transition: all 1.0s ease-in-out;
}

.section1Expand{
    display: flex;
    flex: 7;
    transition: all 1.0s ease-in-out;
}

.section2Expand{
    display: flex;
    flex: 7;
    transition: all 1.0s ease-in-out;
}

.left1 {
    flex-grow: 1;
    background-color: aquamarine;
    height: 100%;
    transition: all 1.0s ease-in-out;
}

.left1Expand {
    background-color: aquamarine;
    flex-grow: 7;
    height: 100%;
    transition: all 1.0s ease-in-out;
}

.right1 {
    flex-grow: 1;
    background-color: #50edff;
    height: 100%;
    transition: all 1.0s ease-in-out;
}
.right1Expand {
    background-color: #50edff;
    flex-grow: 7;
    height: 100%;
    transition: all 1.0s ease-in-out;
}

.left2 {
    flex-grow: 1;
    background-color: #fffb7d;
    height: 100%;
    transition: all 1.0s ease-in-out;
}

.left2Expand {
    flex-grow: 7;
    background-color: #fffb7d;
    height: 100%;
    transition: all 1.0s ease-in-out;
}

.right2 {
    flex-grow: 1;
    background-color: #ff8582;
    height: 100%;
    transition: all 1.0s ease-in-out;
}

.right2Expand {
    flex-grow: 7;
    background-color: #ff8582;
    height: 100%;
    transition: all 1.0s ease-in-out;
}

#avatar {
    display: block;
    margin: auto;
    margin-top: 25px;
    border-radius: 50%;
    width: 150px;
}

section div .heading{
    color: white;
    text-shadow: 2px 2px 8px grey;
    font-size: 80px;
    transform: translateX(25%);
}

#welcome-name {
    font-size: 10rem;
    color: white;
    font-weight: 500;
    text-shadow: 2px 10px 80px grey;
    line-height: 4rem;
}

#welcome-portfolio {
    font-size: 2.8em;
    color: white;
    float: right;
}

.welcome-heading {
    transform: translateY(-32vh);
    position: absolute;
    text-align: center;
    display: inline-block;
}

#quote {
    font-size: 1.2em;
    color: white;
    position: absolute;
    transform: translateY(37vh);
/*    width: 30vw;*/
}


/*.welcome p {
    font-size: 4em;
    color: white;
    position: absolute;
    transform: translateY(-30vh);
}*/








